In [14]:
import pandas as pd
import numpy as np
from pathlib import Path
from pptoolbox.interpolate.data import interpolate_spectra, WAVELENGTHS_QMINI

In [15]:
raw_folder_path = Path("../data/raw")

version = "v1"
pull_date = "260204"  # Updated pull date

label = pd.read_csv(raw_folder_path / version / f"label_{pull_date}.csv")
nvd = pd.read_csv(raw_folder_path / version / f"nvd_{pull_date}.csv")

print(f"Label shape: {label.shape}")
print(f"nvd shape: {nvd.shape}")

Label shape: (3922, 7)
nvd shape: (24084, 2465)

In [16]:
# load in csv labels
excel_labels = pd.read_csv(raw_folder_path / version / f"KDP Brazil Sample Data Collection Sheet_20260204.csv")
# drop columns that start with 'Unnamed'
excel_labels = excel_labels.loc[:, ~excel_labels.columns.str.startswith('Unnamed')]

In [17]:
excel_labels.columns

Index(['Sample No', 'Scanned Date', 'Cupped Date', 'Clean', 'Rioy', 'Phenol',
       'Chemical / Medicine', 'Fermented / Pulpy', 'Moldy / Musty', 'Earthy',
       'Dirty', 'Aged', 'Raw Potato', 'Rubbery', 'Others', 'TOTAL DEFECT CUP',
       'DEFECT CUP?', 'Cupping score given ', 'Cupping Score expected',
       'Expected Description', 'Decision', 'Attibutes', 'Acidity Level',
       'Moisture', 'Density', 'Coffee Profile', 'Comments', 'Crop'],
      dtype='object')

In [18]:
excel_label_cols = [
    'Sample No',
    'TOTAL DEFECT CUP',
       'DEFECT CUP?', 'Clean', 'Rioy', 'Phenol',
       'Chemical / Medicine', 'Fermented / Pulpy', 'Moldy / Musty', 'Earthy',
       'Dirty', 'Aged', 'Raw Potato', 'Rubbery', 'Others',
]

excel_meta_cols = [
    'Sample No', 'Cupped Date',   'Cupping Score expected',
       'Expected Description',  'Attibutes', 'Comments', 'Crop','Cupping score given ', 'Decision','Acidity Level',
       'Moisture', 'Density', 'Coffee Profile'
]

In [19]:
label = label.pivot(index=['lot_id'], columns='property_name', values='property_value').reset_index()
label.head()

property_name,lot_id,Acidity Level,Coffee Profile,Cupping Score,Decision,Density,Moisture,Presence of Negative Defects
0,40982,No Acidity,Value Brazil,78,Approved,69.4,10.5,Not Present
1,40983,No Acidity,Value Brazil,78,Approved,70.5,10.5,Not Present
2,40984,No Acidity,Value Brazil,78,Approved,69.4,10.5,Not Present
3,40985,No Acidity,Value Brazil,78,Approved,69.4,10.5,Not Present
4,40986,No Acidity,Value Brazil,78,Approved,70.4,10.4,Not Present

In [20]:
len(set(label['lot_id'])), len(set(excel_labels['Sample No']))

(672, 401)

In [21]:
label.isna().sum()

property_name
lot_id                            0
Acidity Level                   147
Coffee Profile                  150
Cupping Score                   148
Decision                        148
Density                          20
Moisture                         21
Presence of Negative Defects    148
dtype: int64

In [22]:
nvd.head()

,lot_id,specimen_id,lot_name,date_scanned,analyzer_id,company_id,product_id,product_name,has_nvd,support,...,1094.85693359375,1095.400146484375,1095.9432373046875,1096.486328125,1097.0291748046875,1097.5721435546875,1098.114990234375,1098.6578369140625,1099.20068359375,1099.7432861328125
0,98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,1,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,1,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,1,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,1,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
label_lot_id = set(label['lot_id'])
nvd_lot_id = set(nvd['lot_id'])

missing_label_lot_ids = nvd_lot_id - label_lot_id
print(f"Missing lot IDs in label: {missing_label_lot_ids}")

missing_nvd_lot_ids = label_lot_id - nvd_lot_id
print(f"Missing lot IDs in nvd: {missing_nvd_lot_ids}")

Missing lot IDs in label: {104463, 104464, 104465, 110628, 100398, 100400, 100401, 104501, 112702, 112740, 112741, 112742, 112743, 112744, 116890, 116891, 116892, 116893, 110750, 116894, 116895, 116896, 108767, 108768, 108769, 108770, 108771, 108772, 108773, 108774, 108775, 108776, 108777, 108778, 108779, 108780, 108781, 112878, 108782, 108783, 108784, 108785, 108786, 112877, 110904, 110905, 110906, 110907, 110908, 110909, 110910, 108864, 108865, 112976, 108904, 108905, 108913, 108914, 108915, 113020, 113021, 113022, 113023, 113024, 113025, 113026, 113027, 113028, 113029, 108937, 108938, 108939, 108940, 108941, 108942, 110988, 110989, 110990, 110991, 110992, 110993, 108975, 109000, 109001, 109002, 109003, 109004, 109005, 109006, 109007, 109049, 109050, 109051, 109052, 109053, 109054, 109055, 109056, 109057, 109058, 116521, 116522, 111122, 111123, 111125, 102967, 102968, 102969, 111163, 111164, 102988, 102990, 117417, 117418, 117419, 109239, 109240, 109241, 109242, 109243, 101053, 101054, 101055, 109257, 109258, 109259, 109260, 101069, 109261, 109262, 103209, 103210, 103211, 103212, 103232, 103233, 117573, 117574, 117575, 117576, 117577, 117578, 117579, 117580, 117581, 117582, 117583, 117584, 117585, 117586, 117587, 117588, 117589, 117590, 117591, 109411, 109412, 109413, 107367, 107368, 107369, 107370, 107371, 107372, 107373, 107374, 107375, 107376, 107377, 107378, 107379, 107380, 107381, 107382, 107383, 107384, 107385, 107386, 107387, 107388, 107389, 107390, 107391, 107392, 107393, 107394, 107521, 107522, 107523, 107524, 107525, 107526, 107527, 107528, 99354, 99355, 99356, 99357, 105616, 105617, 105618, 105619, 105620, 105621, 105622, 105623, 105624, 105625, 105626, 105627, 105628, 105629, 105630, 105631, 105632, 105633, 105634, 105635, 105636, 105637, 105638, 105639, 105640, 105641, 105642, 105643, 105644, 105645, 105646, 105647, 105648, 105649, 105650, 105651, 105652, 105653, 105654, 105655, 105656, 109761, 109762, 109763, 109764, 109765, 101600, 109796, 109797, 109798, 109799, 109800, 109801, 109802, 111910, 111911, 111912, 111913, 111914, 111915, 111916, 111975, 111976, 111977, 111978, 111979, 111980, 111981, 111982, 111983, 111984, 111985, 111986, 111987, 111988, 107912, 107913, 103822, 103823, 107958, 107959, 107960, 107961, 107962, 107963, 107964, 110043, 110044, 110045, 110046, 110075, 103960, 112176, 112177, 112178, 112179, 112180, 110168, 114292, 110197, 114293, 114294, 108152, 108153, 114295, 114296, 114297, 116425, 116426, 116427, 116428, 116429, 116430, 116431, 116432, 116433, 116434, 116435, 116436, 116437, 116438, 116439, 116440, 116441, 110298, 110299, 110300, 110301, 110302, 116442, 116443, 116444, 116446, 116447, 116448, 116449, 116450, 116451, 116452, 116453, 116454, 116456, 116457, 116458, 116459, 116460, 116461, 114417, 114418, 116462, 100103, 102162, 102163, 102164, 116506, 116507, 116508, 116509, 116510, 116511, 116512, 116513, 116514, 108323, 116515, 116516, 116517, 116519, 116520, 116518, 102184, 102185, 102186, 102187, 102188, 106282, 106283, 106284, 106286, 106287, 116523, 116524, 116525, 116526, 116527, 116528, 116529, 116530, 116531, 116532, 116533, 116534, 116535, 116536, 112506, 112507, 112508, 112527, 110553, 110554, 106460, 102386}
Missing lot IDs in nvd: {59402, 59403, 59404, 59405, 59406, 59407, 59408, 59409, 59410, 59411, 59412, 59413, 40982, 40983, 40984, 40985, 40986, 40987, 40988, 40989, 40990, 40991, 40992, 40993, 40994, 40995, 40996, 40997, 40998, 40999, 41000, 41001, 41002, 41003, 51240, 86062, 86065, 49206, 86070, 49208, 49209, 49210, 49211, 49212, 49213, 49214, 85970, 71768, 71769, 59485, 59486, 59487, 59488, 59489, 59490, 59491, 59492, 59493, 59494, 59495, 59496, 59497, 59498, 59499, 86124, 90226, 90227, 86137, 92290, 92291, 92292, 92293, 92294, 86158, 98447, 98448, 51348, 75928, 75929, 75930, 75931, 78023, 78024, 78025, 78026, 78027, 78028, 75981, 75982, 75983, 75984, 73937, 73938, 75985, 73940, 73941, 73942, 73943, 73944, 75986, 86273, 86274, 86276, 86277, 86278, 86280, 43275, 43276, 43277, 43278, 43279, 86288, 74007, 74008, 74009, 74010, 74011, 74012, 74013, 74014, 74015, 41256, 41258, 41260, 41262, 94513, 94514, 94516, 90422, 92502, 92503, 92504, 92505, 88425, 86391, 86392, 94588, 94589, 94590, 94591, 90504, 90505, 90506, 90507, 96652, 96653, 90508, 90509, 90510, 90511, 90512, 90513, 84370, 90514, 90515, 86421, 86422, 86423, 86424, 86425, 86426, 86427, 86428, 90518, 90519, 90520, 90521, 90536, 53708, 53709, 53710, 53711, 53712, 53713, 53714, 88539, 88549, 88553, 92666, 92667, 92668, 47610, 47611, 47612, 47616, 47613, 47614, 47615, 76410, 76411, 76412, 76413, 64140, 64141, 64142, 64143, 64144, 64145, 64146, 90766, 90765, 88784, 86737, 88786, 88785, 86740, 86741, 86742, 86743, 86744, 88799, 90516, 90866, 90867, 90868, 94965, 90517, 74488, 74489, 74490, 74491, 74492, 74493, 74494, 74495, 74496, 74497, 88849, 88850, 88851, 90934, 90935, 97080, 48604, 97084, 68415, 68416, 68417, 68418, 48605, 48606, 68448, 68449, 68450, 90979, 90980, 68451, 68452, 68453, 68454, 68455, 68456, 43880, 43881, 43882, 43883, 95091, 86931, 86934, 41916, 41917, 56254, 56255, 56256, 41918, 41919, 41920, 41921, 41922, 41923, 41924, 95167, 95168, 95169, 95170, 70623, 70624, 89055, 93154, 93155, 93156, 93157, 54275, 54276, 54277, 54278, 54279, 54280, 54281, 54282, 54283, 54284, 54285, 54286, 54287, 94237, 90981, 94238, 68637, 58407, 58408, 58409, 58410, 58411, 58412, 58413, 58414, 58415, 58416, 58417, 58418, 58419, 58420, 58421, 89137, 89138, 89139, 89140, 89141, 89142, 89143, 89144, 89145, 89146, 89147, 89148, 89149, 95298, 95299, 95300, 95301, 95302, 95303, 93262, 93263, 93264, 93265, 93266, 93267, 93268, 93269, 93270, 93271, 93272, 93273, 87148, 90978, 87162, 87165, 87166, 87167, 87168, 87169, 87182, 87183, 66716, 66717, 66718, 66719, 66720, 66721, 66722, 66723, 66724, 66725, 66726, 66727, 66728, 66729, 66730, 66731, 66732, 66733, 66734, 66735, 66736, 66737, 66738, 66739, 66740, 95423, 95424, 91372, 91374, 87290, 87291, 87292, 89352, 89353, 89354, 89355, 68873, 68874, 68875, 68876, 68877, 68878, 68879, 68880, 68881, 68882, 68883, 68884, 68885, 68886, 89368, 89369, 97571, 97572, 97573, 97574, 97575, 97576, 97577, 97578, 89423, 89424, 89425, 89426, 89427, 89428, 89429, 89430, 89431, 89432, 89433, 89435, 89436, 89443, 95598, 52591, 52592, 52593, 52594, 52595, 95599, 95601, 47091, 97677, 73141, 73142, 73143, 73144, 73145, 87493, 87494, 87495, 48593, 48594, 48595, 48596, 48597, 48598, 48599, 48600, 44505, 48601, 48603, 48602, 44508, 44509, 44510, 93664, 93665, 44511, 44512, 44513, 44514, 48611, 48612, 48607, 48608, 48609, 48610, 60925, 60926, 93700, 93701, 93702, 93703, 93704, 93705, 93706, 89620, 89621, 89624, 89625, 87578, 89626, 61369, 89629, 61370, 61371, 95794, 95795, 95796, 95797, 95798, 95799, 75335, 75336, 75337, 75338, 75339, 75340, 75341, 75342, 75343, 95164, 95165, 95166, 91745, 91746, 91747, 91748, 91749, 91752, 93808, 89715, 89716, 89717, 91784, 91786, 91788, 91790, 91791, 91792, 91794, 91796, 91797, 91799, 91800, 89774, 89775, 89776, 93895, 93896, 93897, 93898, 93899, 59093, 44766, 87799, 87800, 87801, 87802, 87803, 87804, 53274, 53275, 71434, 71435, 71436, 53276, 89868, 53277, 96018, 96019, 96020, 53278, 53279, 71459, 71460, 71462, 91958, 91959, 91960, 91961, 91962, 91963, 91964, 91965, 91966, 73593, 73594, 73595, 73596, 73597, 73598, 73599, 73600, 69514, 69515, 69516, 69517, 69518, 69519, 69520, 69521, 69522, 73629, 94109, 94110, 73632, 94111, 94112, 94113, 94114, 94115, 90025, 90026, 98217, 98218, 98219, 98220, 59414, 98221, 98222, 59415, 61364, 61365, 61366, 61368, 59416, 61367, 55227, 55228, 55229, 55230, 55231, 55232, 55233, 55234, 55235, 61374, 61372, 61373, 59417, 61375, 61376, 61377, 61378, 61379, 61380, 61381, 61382, 61383, 61384, 61385, 61386, 61387, 61388, 61389, 61390, 61391, 61392, 59346, 59347, 87510, 87511, 42987, 42988, 47085, 47086, 47087, 47088, 42989, 42990, 47089, 47090, 42991, 42992, 47095, 42993, 42994, 42995, 42996, 42997, 47092, 47093, 47094}

# Interpolation

In [41]:
nvd.columns[:11]

Index(['lot_id', 'specimen_id', 'lot_name', 'date_scanned', 'analyzer_id',
       'company_id', 'product_id', 'product_name', 'has_nvd', 'support',
       '400.49560546875'],
      dtype='object')

In [39]:
nvd_spectra = nvd.iloc[:,10:]
nvd_spectra

,400.49560546875,401.0894470214844,401.68328857421875,402.27703857421875,402.8708190917969,403.46453857421875,404.0582275390625,404.65191650390625,405.2455139160156,405.839111328125,...,1094.85693359375,1095.400146484375,1095.9432373046875,1096.486328125,1097.0291748046875,1097.5721435546875,1098.114990234375,1098.6578369140625,1099.20068359375,1099.7432861328125
0,0.103150,0.103706,0.100516,0.101426,0.098658,0.098830,0.095642,0.096511,0.094822,0.093603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.134927,0.134966,0.131123,0.131407,0.128779,0.128348,0.125814,0.126225,0.124466,0.123354,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.069425,0.067911,0.067575,0.066243,0.065814,0.065150,0.064154,0.063878,0.063228,0.062598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.184387,0.183753,0.180906,0.178843,0.176103,0.174758,0.172851,0.171810,0.170592,0.169851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.150794,0.150954,0.148601,0.146527,0.144628,0.143681,0.141732,0.141476,0.139189,0.138763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24079,0.114544,0.113221,0.110929,0.109125,0.108182,0.107300,0.106139,0.103559,0.103863,0.102361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24080,0.079715,0.080421,0.079053,0.077189,0.076659,0.075578,0.074944,0.074347,0.075339,0.072068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24081,0.074117,0.073699,0.072930,0.071613,0.071119,0.069519,0.068937,0.068550,0.067832,0.066308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24082,0.172463,0.169021,0.169704,0.166473,0.163202,0.162271,0.162810,0.160770,0.159431,0.155709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24083,0.104577,0.101482,0.101687,0.097900,0.099105,0.096222,0.097651,0.094895,0.094336,0.092482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
nvd_spectra.columns = nvd_spectra.columns.astype(float)
nvd_interpolated = interpolate_spectra(nvd_spectra, wavelengths=WAVELENGTHS_QMINI)
nvd_interpolated

,480.0,483.0,486.0,489.0,492.0,495.0,498.0,501.0,504.0,507.0,...,1023.0,1026.0,1029.0,1032.0,1035.0,1038.0,1041.0,1044.0,1047.0,1050.0
0,0.071874,0.072041,0.072913,0.073353,0.074134,0.075063,0.076003,0.077044,0.077574,0.078608,...,0.301933,0.302893,0.303979,0.305078,0.306490,0.307011,0.308314,0.309541,0.309938,0.311425
1,0.096698,0.097686,0.098064,0.098826,0.099887,0.101086,0.101984,0.103158,0.104300,0.105775,...,0.397139,0.398523,0.399527,0.400554,0.402573,0.402444,0.403449,0.405389,0.405117,0.408249
2,0.040805,0.040892,0.041369,0.041413,0.041727,0.042090,0.042612,0.043132,0.043570,0.044208,...,0.230707,0.232482,0.233557,0.234294,0.235265,0.237026,0.237798,0.238576,0.239619,0.240728
3,0.149490,0.150694,0.151771,0.152930,0.154470,0.156213,0.157428,0.159191,0.161175,0.162899,...,0.472497,0.473340,0.475060,0.476163,0.476601,0.479063,0.480005,0.480428,0.481034,0.482880
4,0.119471,0.120408,0.121271,0.122379,0.123435,0.124498,0.125660,0.127190,0.128219,0.129941,...,0.418030,0.419518,0.420670,0.421760,0.422301,0.425089,0.425187,0.427162,0.427534,0.428308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24079,0.080921,0.081815,0.082360,0.082785,0.083847,0.084930,0.085905,0.087115,0.087923,0.089331,...,0.318796,0.320779,0.321970,0.322233,0.324435,0.324913,0.325379,0.327252,0.327758,0.328833
24080,0.055949,0.055796,0.056334,0.056897,0.056818,0.057663,0.058042,0.058739,0.058683,0.059466,...,0.245052,0.246114,0.246728,0.247983,0.249534,0.249835,0.251809,0.250827,0.252676,0.254113
24081,0.048525,0.048480,0.048873,0.049079,0.049296,0.050084,0.050322,0.050894,0.051076,0.051992,...,0.224726,0.226268,0.227058,0.227753,0.229248,0.229009,0.230501,0.230828,0.231917,0.233002
24082,0.141631,0.142932,0.143936,0.145275,0.147172,0.148721,0.150059,0.152178,0.153903,0.155895,...,0.420686,0.421156,0.421936,0.423349,0.424424,0.424971,0.426032,0.427367,0.428944,0.429149
24083,0.079165,0.079841,0.080553,0.080779,0.081509,0.082670,0.083109,0.084019,0.084497,0.085311,...,0.289099,0.290593,0.291183,0.291756,0.293274,0.293750,0.294779,0.296822,0.296046,0.297928

In [59]:
X = pd.concat([nvd[['lot_id','specimen_id','support']], nvd_interpolated], axis=1).set_index('lot_id')
X

,specimen_id,support,480.0,483.0,486.0,489.0,492.0,495.0,498.0,501.0,...,1023.0,1026.0,1029.0,1032.0,1035.0,1038.0,1041.0,1044.0,1047.0,1050.0
lot_id,,,,,,,,,,,,,,,,,,,,,
98905,582758,18,0.071874,0.072041,0.072913,0.073353,0.074134,0.075063,0.076003,0.077044,...,0.301933,0.302893,0.303979,0.305078,0.306490,0.307011,0.308314,0.309541,0.309938,0.311425
98905,582758,17,0.096698,0.097686,0.098064,0.098826,0.099887,0.101086,0.101984,0.103158,...,0.397139,0.398523,0.399527,0.400554,0.402573,0.402444,0.403449,0.405389,0.405117,0.408249
98905,582758,14,0.040805,0.040892,0.041369,0.041413,0.041727,0.042090,0.042612,0.043132,...,0.230707,0.232482,0.233557,0.234294,0.235265,0.237026,0.237798,0.238576,0.239619,0.240728
98905,582758,13,0.149490,0.150694,0.151771,0.152930,0.154470,0.156213,0.157428,0.159191,...,0.472497,0.473340,0.475060,0.476163,0.476601,0.479063,0.480005,0.480428,0.481034,0.482880
98905,582758,11,0.119471,0.120408,0.121271,0.122379,0.123435,0.124498,0.125660,0.127190,...,0.418030,0.419518,0.420670,0.421760,0.422301,0.425089,0.425187,0.427162,0.427534,0.428308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117591,708251,18,0.080921,0.081815,0.082360,0.082785,0.083847,0.084930,0.085905,0.087115,...,0.318796,0.320779,0.321970,0.322233,0.324435,0.324913,0.325379,0.327252,0.327758,0.328833
117591,708251,9,0.055949,0.055796,0.056334,0.056897,0.056818,0.057663,0.058042,0.058739,...,0.245052,0.246114,0.246728,0.247983,0.249534,0.249835,0.251809,0.250827,0.252676,0.254113
117591,708251,16,0.048525,0.048480,0.048873,0.049079,0.049296,0.050084,0.050322,0.050894,...,0.224726,0.226268,0.227058,0.227753,0.229248,0.229009,0.230501,0.230828,0.231917,0.233002
117591,708251,9,0.141631,0.142932,0.143936,0.145275,0.147172,0.148721,0.150059,0.152178,...,0.420686,0.421156,0.421936,0.423349,0.424424,0.424971,0.426032,0.427367,0.428944,0.429149
117591,708251,8,0.079165,0.079841,0.080553,0.080779,0.081509,0.082670,0.083109,0.084019,...,0.289099,0.290593,0.291183,0.291756,0.293274,0.293750,0.294779,0.296822,0.296046,0.297928

In [49]:
meta = nvd[['lot_id', 'specimen_id', 'lot_name', 'date_scanned', 'analyzer_id',
       'company_id', 'product_id', 'product_name',]].set_index('lot_id')
meta

,specimen_id,lot_name,date_scanned,analyzer_id,company_id,product_id,product_name
lot_id,,,,,,,
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean
...,...,...,...,...,...,...,...
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean

In [55]:
meta = meta.copy()
meta['lot_name_short'] = meta['lot_name'].str.split('-').str[2]
meta['date_reformatted'] = pd.to_datetime(meta['date_scanned'], unit='s').dt.date

In [56]:
meta

,specimen_id,lot_name,date_scanned,analyzer_id,company_id,product_id,product_name,lot_name_short,date_reformatted
lot_id,,,,,,,,,
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,S555,2025-05-09
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,S555,2025-05-09
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,S555,2025-05-09
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,S555,2025-05-09
98905,582758,20250509-A47-S555,1746796578,96,1104,6160,Brazilian green coffee bean,S555,2025-05-09
...,...,...,...,...,...,...,...,...,...
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28

In [58]:
y = pd.merge(meta.reset_index()[['lot_id','lot_name_short']], excel_labels[excel_label_cols],
             left_on='lot_name_short', right_on='Sample No', how='left').set_index('lot_id').drop(columns=['Sample No','lot_name_short',])
y

,TOTAL DEFECT CUP,DEFECT CUP?,Clean,Rioy,Phenol,Chemical / Medicine,Fermented / Pulpy,Moldy / Musty,Earthy,Dirty,Aged,Raw Potato,Rubbery,Others
lot_id,,,,,,,,,,,,,,
98905,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98905,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98905,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98905,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98905,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117591,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117591,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117591,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117591,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117591,1.0,Defect Cup,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
assert X.index.equals(y.index), "Indices of X and y do not match!"
assert X.index.equals(meta.index), "Indices of X and y_meta do not match!"

In [62]:
print(f"Final X shape: {X.shape}")
print(f"Final y shape: {y.shape}")
print(f"Final meta shape: {meta.shape}")

Final X shape: (24084, 193)
Final y shape: (24084, 14)
Final meta shape: (24084, 9)

In [63]:
output_path = Path ("../data/processed") / version / "v1.0" / "full"
output_path.mkdir(parents=True, exist_ok=True)
X.to_csv(output_path / f"input.csv")
y.to_csv(output_path / f"label.csv")
meta.to_csv(output_path / f"meta.csv")

In [64]:
meta.tail()

,specimen_id,lot_name,date_scanned,analyzer_id,company_id,product_id,product_name,lot_name_short,date_reformatted
lot_id,,,,,,,,,
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28
117591,708251,20260126-A47-S959,1769626519,96,1104,6160,Brazilian green coffee bean,S959,2026-01-28