In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pptoolbox.platform import preprocess, WAVELENGTHS_3NM_V1
from pptoolbox.preprocessing import SNV, MSC, SavitzkyGolay, Detrend

from pptoolbox.visualization import initialize_theme
cmaps = initialize_theme()

Registered profileprint_light_cmap
Registered profileprint_diverging_cmap

# import and preprocess

In [ ]:
datetime = '241003'

In [2]:
raw_df = pd.read_csv(f'../data/raw/spectra_{datetime}.csv')
label_df = pd.read_csv(f'../data/raw/label_{datetime}.csv')

In [3]:
raw_df.head()

,lot_id,specimen_id,lot_name,date_scanned,analyser_id,company_id,product_id,product_name,raw_data,dark_ref_data,white_ref_data,dark_ref_scan_time,white_ref_scan_time
0,77651,464000,SH3639-134,1726137449,26,1281,6624,Shortening (Rancidity),"[{""wavelength"": 332.4588623046875, ""reflectanc...","[0.002734375, 0.102109375, 0.04578125, 0.33734...","[0.00109375, 0.130078125, 0.037890625, 0.32132...",1726136101,1726136137
1,77651,464001,SH3639-134,1726137471,26,1281,6624,Shortening (Rancidity),"[{""wavelength"": 332.4588623046875, ""reflectanc...","[0.002734375, 0.102109375, 0.04578125, 0.33734...","[0.00109375, 0.130078125, 0.037890625, 0.32132...",1726136101,1726136137
2,77651,464002,SH3639-134,1726137494,26,1281,6624,Shortening (Rancidity),"[{""wavelength"": 332.4588623046875, ""reflectanc...","[0.002734375, 0.102109375, 0.04578125, 0.33734...","[0.00109375, 0.130078125, 0.037890625, 0.32132...",1726136101,1726136137
3,77651,464003,SH3639-134,1726137516,26,1281,6624,Shortening (Rancidity),"[{""wavelength"": 332.4588623046875, ""reflectanc...","[0.002734375, 0.102109375, 0.04578125, 0.33734...","[0.00109375, 0.130078125, 0.037890625, 0.32132...",1726136101,1726136137
4,77005,462313,SH3639-142,1725619477,26,1281,6624,Shortening (Rancidity),"[{""wavelength"": 332.4588623046875, ""reflectanc...","[0.000703125, 0.225078125, 0.084375, 0.5135156...","[0.006484375, 0.2865625, 0.090703125, 0.553515...",1725617333,1725617363

In [4]:
label_df

,lot_id,lot_name,property_name,property_value,company_id,product_type_id,product_name
0,76751,SH3639-598,Rancidity (Class-text),Two,1281,6624,Shortening (Rancidity)
1,76752,SH3639-A,Rancidity (Class-text),One,1281,6624,Shortening (Rancidity)
2,76753,SH3639-397,Rancidity (Class-text),One,1281,6624,Shortening (Rancidity)
3,76754,SH3639-486,Rancidity (Class-text),Three,1281,6624,Shortening (Rancidity)
4,76755,SH3639-208,Rancidity (Class-text),Two,1281,6624,Shortening (Rancidity)
...,...,...,...,...,...,...,...
84,77054,SH3639-302,Rancidity (Class-text),Three,1281,6624,Shortening (Rancidity)
85,77055,SH3639-198,Rancidity (Class-text),Three,1281,6624,Shortening (Rancidity)
86,77651,SH3639-134,Rancidity (Class-text),One,1281,6624,Shortening (Rancidity)
87,77692,SH3639-292,Rancidity (Class-text),Two,1281,6624,Shortening (Rancidity)
88,77693,SH3639-196,Rancidity (Class-text),Three,1281,6624,Shortening (Rancidity)

In [7]:
label_df.value_counts('property_value').sort_index()

property_value
1Pass      29
2Mild      30
3Rancid    30
dtype: int64

In [16]:
label_df = label_df.drop(columns=['lot_name','company_id','product_name','product_type_id'])
label_df

    lot_id           property_name property_value
0    76751  Rancidity (Class-text)            Two
1    76752  Rancidity (Class-text)            One
2    76753  Rancidity (Class-text)            One
3    76754  Rancidity (Class-text)          Three
4    76755  Rancidity (Class-text)            Two
..     ...                     ...            ...
84   77054  Rancidity (Class-text)          Three
85   77055  Rancidity (Class-text)          Three
86   77651  Rancidity (Class-text)            One
87   77692  Rancidity (Class-text)            Two
88   77693  Rancidity (Class-text)          Three

[89 rows x 3 columns]

In [17]:
raw_df, label_df = preprocess(raw_df,label_df, wavelengths=WAVELENGTHS_3NM_V1)

x_path = "../data/processed/raw.csv"
raw_df.to_csv(x_path)

print(raw_df.shape, label_df.shape)

(358, 191) (358, 2)